<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<ul class="list">
				<li>
					<a href="javascript:;">
						<div class="img-div">
							<img src="" alt="" />
						</div>
						<div class="info">
							<div class="name">
								乐敦CC 美白补水保湿面膜 祛斑淡痘印晒后修复 20片 逆龄童颜
							</div>
							<div class="info-tag">
								<span>包邮包税</span>
							</div>
							<div class="pri-wrap">
								<div class="price">
									¥ 80.00
								</div>
								<div class="country">
									<img src=""/>
									日本
								</div>
							</div>
						</div>
					</a>
				</li>
				<li>222</li>
			</ul>
	</body>
</html>
