<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="point">
			<div>
				<span class="name">最近销量</span>
				<span class="value">998</span>
			</div>
			<div>
				<span class="name">粉丝</span>
				<span class="value">74482</span>
			</div>
			<div>
				<span class="name">综合评分</span>
				<span class="grade">4.8</span>
				<span class="top">高于平均6.9%</span>
			</div>
			<div>
				<span>
					<i class="key">买家评分</i>
					<i class="val">4.7</i>
				</span>
				<span>
					<i class="key">物流服务</i>
					<i class="val">4.9</i>
				</span>
				<span>
					<i class="key">客户服务</i>
					<i class="val">4.8</i>
				</span>
			</div>
		</div>
	</body>
</html>
