<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		15245457817
		
		
		<div class="goods">
			<input type="checkbox" />
			<img src="../../static/img/CgvUA1pNjbuAQ9q6AAKsC04KD3k786_1_1_n_w_o.jpg" alt="" />
			<div class="gInfo">
				<div>
					<span>包邮包税</span>
					<span>PROVOST\普罗旺斯洗发水750ml</span>
				</div>
				<p>官方直邮</p>
			</div>
			<div class="operation">
				<div>￥193</div>
				<div>
					<input type="text" value="-" id="minus" disabled/>
					<span ref="goodsNum">1</span>
					<input type="text" value="+" id="plus" disabled/>						
				</div>
				<img src="../../static/img/del.png" alt="" />
			</div>
		</div>
	</body>
</html>
